body{
    background-color: #EBEFF2;
    display: flex;
}

#pokemon-display{
    background-color: white;
    border-radius: 12px;
    margin: 30px;
}

#expand{
    padding: 8px;
    background-color: lightcoral;
}
.expanded{
    background-color: green;
    width: 800px;
}

#pkm-img{
    border: solid 1px red;
}

#pokedex-list{
    background-color: white;
    border-radius: 12px;
    padding: 12px;
}

#pd-container{
    background-color: #EBEFF2;
    padding: 12px;
}

.info-box{
    
}
.desc-box{
    border: solid blue 1px;
}

