body {
    background-color: #FFEDAF;
    background-image: url('/pokedex/imgs/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

/* navbar  */
#nav-bar {
    background-color: #E33804;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 100; */
}

#nav-left h1 {
    font-size: 20px;
    margin: 10px 100px;
    cursor: pointer;
}

#nav-right {
    display: flex;
    align-items: center;
    margin-right: 100px;
    white-space: nowrap;
}

#nav-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

#nav-right li {
    margin-left: 100px;
}

#nav-right a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#nav-right a:hover {
    font-weight: 700;
}


/* pokemon display */
#pokemon-display {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin: 100px;
}

#type-one,
#type-two {
    background-color: #333;
    width: 50px;
    color: white;
    padding: 5px 20px;
    /* margin: auto; */
    border-radius: 20px;
}

#expand {
    padding: 8px;
    background-color: lightcoral;
}


.expanded{
    background-color: lightgreen;
    width: 800px;
}

/* hide details */
.collapsed {
    display: none;
}

#pkm-img {
    border: solid 1px red;
}

/* regular pokedex */
#pokedex-list {
    margin: 100px;
}

.list-default {
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#search {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

/* collapsed pokedex list */
.list-small {
    background-color: blue;
}

#pd-container {
    background-color: #EBEFF2;
    padding: 20px;
    border-radius: 20px;
}

/* styles for basic info boxes */
.generic-box{
    border: solid green 1px;
    margin: 10px;
}


.desc-box{
    border: solid blue 1px;
}

#abilities-box{
    display: grid;
    grid-template-columns: repeat(2, 200px);
}

#stats-box{
    display: grid;
    grid-template-columns: repeat(2, 200px);
}

#stat-labels{
    border: solid red 1px;
}
#stats-num{
    border: solid greenyellow 1px;
    display: inline-block;
}

#regular-abilities{
    border: solid 1px blue;
}