body{
    background-color: #EBEFF2;
    display: flex;
}

#pokemon-display{
    background-color: white;
    border-radius: 12px;
    margin: 30px;
}

#expand{
    padding: 8px;
    background-color: lightcoral;
}

.expanded{
    background-color: lightgreen;
    width: 800px;
}

/* hide details */
.collapsed{
    display: none;
}

#pkm-img{
    border: solid 1px red;
}

/* regular pokedex */
.list-default{
    background-color: white;
    border-radius: 12px;
    padding: 12px;
}

/* collapsed pokedex list */
.list-small{
    background-color: blue;
}

#pd-container{
    background-color: #EBEFF2;
    padding: 12px;
}

/* styles for basic info boxes */
.generic-box{
    border: solid green 1px;
    margin: 10px;
}

.desc-box{
    border: solid blue 1px;
}

