/* contains the pokemon display and expanded view */

* {
    /* type colors */
    --normal: #C3C3C3;
    --fire: #FF9141;
    --grass: #3DAB3A;
    --psychic: #F4A4FB;
    --ghost: #786A9F;
    --dragon: #8867BD;
    --poison: #8854DC;
    --fairy: #FFC0DB;
    --rock: #AE9267;
    --dark: #6A6262;
    --fighting: #CB5050;
    --water: #4A92FF;
    --electric: #EACD37;
    --ice: #8AFFF8;
    --ground: #835F3E;
    --flying: #C6E0FF;
    --bug: #D3DFA1;
    --steel: #C8C8C8;
}

/* pokemon regular display */
#pokemon-display {
    background-color: #6fdd6c;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin: 100px;
    padding: 40px;
}

#pkm-img {
    background-color: white;
    border-radius: 20px;
}

/* generic type boxes */
#pkm-typing {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#type-one,
#type-two {
    width: 4rem;
    color: white;
    padding: 5px 20px;
    /* margin: auto; */
    border-radius: 20px;
}

#type-one {
    background-color: var(--grass);
}

#type-two {
    background-color: var(--poison);
}


/* collapsed view */
.collapsed {
    display: none;
}

.test {
    display: none;
}

/* expand button */
#expand {
    padding: 8px;
    background-color: lightcoral;
}

/* expanded view */
.expanded {
    /* background-color: lightgreen; */
    display: grid;
    grid-template-columns: repeat(2, 490px);
    /* grid-template-columns: 490px 490px; */
    grid-gap: 20px;
}

#expandable.expanded .hello {
    display: none;
}

/* styles for basic info boxes */
.generic-box {
    background-color: white;
    border: solid green 1px;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

#pkm-info {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pkm-description {
    text-align: left;
    padding-left: 40px;
}

/* grid for ability, catch rate, and habitat */
#pkm-adv-info {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#pkm-catch-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

/* grid to display abilities */
#abilities-box {
    text-align: left;
    padding-left: 20px;
    width: 200px;
}

#catch-box,
#hab-box {
    text-align: left;
    padding-left: 20px;
    height: 50px;
    width: 200px;
}

/* stats */
#stats-box {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    text-align: left;
    padding-left: 20px;
}

#stat-labels {
    border: solid red 1px;
    /* height: 30px; */
    /* padding: 10px; */
    border-radius: 12px;
    /* background-color: red; */
}

#stats-num {
    border: solid greenyellow 1px;
    display: inline-block;
}


/* evolution chain */
#evo-box {
    background-color: lightblue;
    grid-template-columns: repeat(3, 200px);
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#evo-one {
    border: solid 1px green;
}

#evo-two {
    border: solid 1px orangered;
}

#evo-three {
    border: solid 1px darkcyan;

}