body {
    background-color: #FFEDAF;
    background-image: url('/pokedex/imgs/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

/* navbar  */
#nav-bar {
    background-color: #E33804;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 100; */
}

#nav-left h1 {
    font-size: 20px;
    margin: 10px 100px;
    cursor: pointer;
}

#nav-right {
    display: flex;
    align-items: center;
    margin-right: 100px;
    white-space: nowrap;
}

#nav-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-right li {
    margin-left: 100px;
}

#nav-right a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#nav-right a:hover {
    color: black;
}


/* regular pokedex */
#pokedex-list {
    margin: 100px;
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#search {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

/* scrollable list of all pokes */
#pd-container {
    background-color: #EBEFF2;
    padding: 20px;
    border-radius: 20px;
    height: 400px;
    overflow-y: auto;
}

/* 
list in expanded state
displays id, sprite, and name
*/
.list-default {
    border: solid 1px red;
}


/* 
collapsed pokedex list 
only displays sprite and id < this part is hard idk how to do it
shift entire list to right side of page
*/
.list-small {
    border: solid 1px blue;
}